<div class="search">
    <span class="font-weight-bold">Search for a movie : </span>
    <input [(ngModel)]="searchText" placeholder="movie name goes here">
</div>

<div class="container movieListContainer">
    <div  *ngFor ="let movie of movies | filter : searchText" 
    [routerLink]="['/details', movie.name]"
     class="movieDetails">
     <span class="movieDetailsRow">
        <div class="movieImage">
            <img src="../../../assets/images/{{movie.image}}">
        </div>
        <div class="movieName">
            <div class="text-left font-weight-bold"> {{movie.name}} </div>
        </div>
    </span>
    </div>
  </div>
