
<div *ngIf="movieDetails">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <span><div class="text-left font-weight-bold movieName"> {{movieDetails.name}} </div></span>
                <span><img src="../../../assets/images/{{movieDetails.image}}"></span>
              </div>
            <div class="col-8">
                <div> <span class="font-weight-bold">Rating</span> : <span>{{movieDetails.rating}} </span></div>
                <div> <span class="font-weight-bold">Genre</span> : <span>{{movieDetails.genre}} </span></div>
                <div> <span class="font-weight-bold">Summary</span>: <span>{{movieDetails.summary}} </span></div>
            </div>
        </div>
      <div class="row">
        <div class="col-4">
          <span><button type="button"
                        class="btn btn-primary bckBtn"
                        (click)='back()'>Back</button></span>
        </div>
      </div>
    </div>
</div>
